body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5e3f0;
}

header {
    background-color: #4682b4;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    text-align: center;
    padding: 20px;
    position: relative; /* Added to establish a positioning context for absolute children */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    background-color: #4682b4;
    color: white;
    border-radius: 5px;
    position: relative; /* Ensures the button is in the document flow */
    top: 330px; /* Adjusted to appear below the editing/highlighting areas */
}

#shared-code {
    direction: ltr;
    text-align: left;
    unicode-bidi: embed;
}

.CSHARP {
    width: 100%;
    margin-top: 20px;
}

#save-btn {
    margin-top: 20px;
    cursor: pointer;
}

#editing, #highlighting {
    margin: 0 2rem;
    padding: 1rem;
    border: 4px;
    border-color: rgb(158, 210, 255);
    width: calc(100% - 100px);
    height: 300px;
    border-radius: 4px ;
    -webkit-border-radius: 4px ;
    -moz-border-radius: 4px ;
    -ms-border-radius: 4px ;
    -o-border-radius: 4px ;
}

  #editing, #highlighting, #highlighting * {
    /* Also add text styles to highlighting tokens */
    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
    tab-size: 2;
  }

  #editing, #highlighting {
    position: absolute;
    top: 10;
    left: 0;
  }

  #editing {
    z-index: 1;
  }

  #highlighting {
    z-index: 0;
  }

  /* Make textarea almost completely transparent */
#editing {
    color: transparent;
    background: transparent;
    caret-color: #4682b4; /* Or choose your favorite color */
    resize: none;
  }

  #editing, #highlighting {
    overflow: auto;
    white-space: nowrap; /* Allows textarea to scroll horizontally */
  }