body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #4682b4;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    text-align: center;
    padding: 20px;
    position: relative; /* Added to establish a positioning context for absolute children */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    background-color: #4682b4;
    color: white;
    border-radius: 5px;
    position: relative; /* Ensures the button is in the document flow */
    top: 180px; /* Adjusted to appear below the editing/highlighting areas */
}

#shared-code {
    direction: ltr;
    text-align: left;
    unicode-bidi: embed;
}

.CSHARP {
    width: 100%;
    margin-top: 20px;
}

#save-btn {
    margin-top: 20px;
    cursor: pointer;
}

#editing, #highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    margin: 10px;
    padding: 10px;
    border: 0;
    width: calc(100% - 32px);
    height: 150px;
  }

  #editing, #highlighting, #highlighting * {
    /* Also add text styles to highlighting tokens */
    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
    tab-size: 2;
  }

  #editing, #highlighting {
    position: absolute;
    top: 0;
    left: 0;
  }

  #editing {
    z-index: 1;
  }

  #highlighting {
    z-index: 0;
  }

  /* Make textarea almost completely transparent */
#editing {
    color: transparent;
    background: transparent;
    caret-color: white; /* Or choose your favorite color */
    resize: none;
  }

  #editing, #highlighting {
    overflow: auto;
    white-space: nowrap; /* Allows textarea to scroll horizontally */
  }