body {
    font-family: 'Open Sans', sans-serif; /* Added Open Sans font family */
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header, .header_a {
    background-color: #4682b4;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

header h1 {
    margin: 0;
}

main {
    text-align: center;
    padding: 20px;
    position: relative; /* Added to establish a positioning context for absolute children */
}

.btn , .btn.active {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    background-color: #4682b4;
    color: white;
    border-radius: 5px;
    top: 5rem; /* Adjusted to appear below the editing/highlighting areas */
}

.btn:hover, .btn.active:hover {
    background-color: #2b4f81; /* Change the background color on hover */
    color: white; /* Change the text color on hover */
}

.CSHARP {
    width: 100%;
    margin-top: 20px;
}

#save-btn {
    margin-top: 20px;
    cursor: pointer;
}

#problem-info {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
}

#problem-info h2 {
    margin-top: 0;
}

#problem-info p {
    margin: 5px 0;
}

.btn-upload {
    display: inline-block;
    padding: 12px 25px;
    margin: 10px;
    text-decoration: none;
    background-color: #f80e0e;
    color: #2B10C4;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #2B10C4;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    top: 180px;
}

.btn-upload:hover, .btn-upload:focus {
    background-color: #2B10C4;
    color: #FFFFFF;
    border-color: #FFFFFF;
    cursor: pointer;
}

.btn-upload:active {
    background-color: #1a076d;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

/* Style for the disabled button */
.btn.disabled {
    background-color: #808080;
    color: #ffffff;
}

/* Style for the user choice explanation */
.user-choice-explanation {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

.app-explanation {
    max-width: 600px; /* Adjust the max-width to your preference */
    margin: 0 auto; /* Center the content */
    text-align: justify; /* Justify text for better readability */
}