<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Mentor App</title>
</head>
<body>
    <header>
        <h1>Choose a Code Block</h1>
    </header>
    <main>
        <!-- Example code blocks links -->
        <a href="/edit_block" class="btn">Code Block 1</a>
        <a href="/view_block" class="btn">Code Block 1 view</a>
        <a href="/edit_block" class="btn">Code Block 2</a>
        <a href="/edit_block" class="btn">Code Block 3</a>
        <a href="/edit_block" class="btn">Code Block 4</a>
    </main>
</body>
