<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <title>Mentor App</title>
</head>
<body>
    <header>
        <a class="header_a" href="/">
            <h1>Mentor App</h1>
        </a>
    </header>
    <main>
        <div class="app-explanation">
            <p>Welcome to the Mentor App, a collaborative coding platform designed to facilitate remote coding sessions between mentors and students. Whether you're a mentor guiding through code or a student seeking assistance, this platform provides an interactive and real-time coding environment.</p>
    
            <p>As a mentor, you can share code, observe students' progress in real-time, and provide guidance during coding sessions. Students, on the other hand, can actively make changes to the code, receiving immediate feedback and guidance from mentors.</p>

            <p>Get started by choosing your role:</p>
        </div>
        <a href="/student_choose_block" class="btn">Start as student</a>
        <a href="/mentor_choose_block" class="btn">Start as mentor</a>
    </main>
</body>
</html>
