<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <a href="/" class="home-link"><title>Mentor App</title></a>
</head>
<body>
    <header>
        <h1>Mentor App</h1>
    </header>
    <main>
        <a href="/student_choose_block" class="btn">Start as student</a>
        <a href="/mentor_choose_block" class="btn">Start as mentor</a>
    </main>
</body>
</html>
