<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Mentor App</title>
    <style>
        .selected-problem {
            background-color: #00ff00; /* Change this to the desired color */
        }
    </style>
</head>
<body>
    <header>
        <h1>Mentor App</h1>
    </header>
    <main>
        {% for problem in problems %}
            <a href="/view_block/{{ problem[0] }}" class="btn" data-problem-id="{{ problem[0] }}" onclick="markSelected(this)">{{ problem[1] }} - {{ problem[2] }}</a>
        {% endfor %}
        <a href="/upload" class="btn-upload">Upload new questions to Database</a>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/mentor');

        function markSelected(button) {
            var problemId = button.getAttribute('data-problem-id');

            // Remove the 'selected-problem' class from all buttons
            var buttons = document.querySelectorAll('.btn');
            buttons.forEach(function (btn) {
                btn.classList.remove('selected-problem');
            });

            // Add the 'selected-problem' class to the clicked button
            button.classList.add('selected-problem');

            // Send the selected problem ID to the server
            socket.emit('student_selected_problem', { problem_id: problemId });
        }

        // Listen for updates from the server
        socket.on('update_selected_problem', function(data) {
            var problemId = data.problem_id;

            // Remove the 'selected-problem' class from all buttons
            var buttons = document.querySelectorAll('.btn');
            buttons.forEach(function (btn) {
                btn.classList.remove('selected-problem');
            });

            // Add the 'selected-problem' class to the button with the selected problem ID
            var selectedButton = document.querySelector('.btn[data-problem-id="' + problemId + '"]');
            if (selectedButton) {
                selectedButton.classList.add('selected-problem');
            }
        });
    </script>
</body>
</html>
