<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <a href="/" class="home-link"><title>Mentor App</title></a>
</head>
<body>
    <header>
        <h1>Mentor App</h1>
    </header>
    <main>
        <!-- Loop through problems and create a button for each -->
        {% for problem in problems %}
            <a href="/edit_block/{{ problem[0] }}" class="btn">{{ problem[1] }} - {{ problem[2] }}</a>
        {% endfor %}
        <p class="user-choice-explanation">
            Please choose the problem that you wish to solve
        </p>
    </main>
</body>
