<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Prism CSS -->
    <link rel="stylesheet" href="/static/css/prism.css">
    <link rel="stylesheet" href="/static/css/prism-custom-style.css">
    <title>View Block</title>
</head>

<body>
    <header>
        <h1>Mentor App</h1>
    </header>
    <main>
        <section id="problem-info">
            <h2>{{ problem[1] }}</h2> <!-- Problem Name -->
            <p><strong>Difficulty:</strong> {{ problem[2] }}</p> <!-- Difficulty -->
            <p><strong>Description:</strong> {{ problem[3] }}</p> <!-- Exercise Description -->
            <p><strong>solution:</strong> {{ problem[4] }}</p> <!-- Exercise solution -->
        </section>
        <textarea id="viewing" readonly></textarea>
        <pre id="highlighting" aria-hidden="true">
            <code class="language-javascript" id="highlighting-content"></code> 
        </pre>
    </main>
    <!-- Include Prism JS -->
    <script src="/static/js/prism.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Dynamically determine the Socket.IO server URL
            const socketIoUrl = window.location.protocol + '//' + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
            const socket = io.connect(socketIoUrl);
            socket.on('update_code', function (data) {
                let codeWithNewlines = data.code.replace(/\\n/g, "\n");; // Explicitly handle newline characters
                console.log(data);
                document.getElementById('highlighting-content').innerText = codeWithNewlines;
                Prism.hooks.add('before-highlight', function (env) {
                    env.code = env.element.innerText;
                });
                Prism.highlightElement(document.getElementById('highlighting-content'));
            });
        });
    </script>
</body>

</html>